{% extends "layout.html" %}

{% block title %}
Settings
{% endblock %}

{% block main %}

<div class="col-span-12 flex flex-1 items-center justify-center">
  <form action="/logout" class="flex flex-col items-center gap-4">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <button
      type="submit"
      class="rounded-xl bg-brand px-10 py-5 text-lg font-semibold text-white transition hover:bg-brand-hover active:opacity-80"
    >
      Log Out
    </button>
  </form>
</div>

{% endblock %}